webvtt-py==0.4.5
youtube_dl==2020.3.24
gensim==3.8.1
scipy>=1.4.1
numpy
fastapi
spacy  
fastapi-sqlalchemy
scikit-image
scikit-learn
uvicorn
pytube
assemblyai
openai==0.28
Jinja2==3.0.3
requests
gtts
python-multipart
youtube-transcript-api
langdetect
