<!DOCTYPE html>
<html>
    <head>
        <title>YouTube Video Summarizer</title>
        <link rel="stylesheet" href="./static/style.css">
        <link rel="icon" type="image/x-icon" href="./templates/favicon.ico">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous" />
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    
    </head>
    <body style="height: 100vh; background: linear-gradient(to bottom right, #ed90c9 0%, #87a7df 100%);">
        <div class="container" style=" margin-top: 8vh; border: 2px solid black; padding: 10px; box-shadow: 2px 2px 4px rgba(0.5, 0.5, 0.5, 0.5);" id="container">
            <div class="left">
              <div class="header">
                <h2 class="animation a1">Welcome Back</h2>
                <br>
                <h3 class="animation a2"><i>Get the summary of any YouTube Video without watching it.</i></h3>
              </div>
              <form action="/submit_url" method="post" enctype="multipart/form-data">
                <input type="text" name="url" id="urlTextBox" class="form-field animation a3" placeholder="Enter the YouTube Url">
                <select id="languageSelector" name="language" class="form-field animation a4" style="min-width: 170px;">
                    <option selected>Select video language</option>
                    <option value="arabic">Arabic</option>
                    <option value="bengali">Bengali</option>
                    <option value="chinese">Chinese</option>
                    <option value="dutch">Dutch</option>
                    <option value="english" selected>English</option>
                    <option value="french">French</option>
                    <option value="german">German</option>
                    <option value="hindi">Hindi</option>
                    <option value="italian">Italian</option>
                    <option value="japanese">Japanese</option>
                    <option value="korean">Korean</option>
                    <option value="malayalam">Malayalam</option>
                    <option value="norwegian">Norwegian</option>
                    <option value="portuguese">Portuguese</option>
                    <option value="russian">Russian</option>
                    <option value="spanish">Spanish</option>
                    <option value="tamil">Tamil</option>
                    <option value="telugu">Telugu</option>
                    <option value="urdu">Urdu</option>
                    <option value="vietnamese">Vietnamese</option>
                    <option value="zulu">Zulu</option>
                </select>
                <div class="login-box">
                  <!-- <form id="submitForm"> -->
                    <button class="custom-button animation a5" type="submit">Submit</button>
                    <!-- </form> -->
                </div>
              </form>   
              </div>
              <div class="right"></div>
            </div>

            <script src="./static/script.js" type="module"></script>
        <script>
         document.getElementById("submitForm").addEventListener("submit", function(event) {
        event.preventDefault(); // Prevent the default form submission

        // Get the input values
        var url = document.getElementById("urlTextBox").value;
        var language = document.getElementById("languageSelector").value;

        // Send an HTTP POST request to the backend
        fetch('/submit_url', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                url: url,
                language: language
            })
        }).then(response => {
            if (response.ok) {
                console.log('URL submitted successfully');
            } else {
                console.error('Failed to submit URL');
            }
        }).catch(error => {
            console.error('Error:', error);
        });
    });
      </script>
    </body>
</html>
